---
import { SEO } from "astro-seo";
import Layout from "../layouts/Layout.astro";
import image1 from "../assets/img/maisonvuefeuillage.jpg";
import image2 from "../assets/img/EnseigneLaMagdeleine.jpg";
import image3 from "../assets/img/hersemaison.jpg";
import image4 from "../assets/img/facadenord.jpg";
import image5 from "../assets/img/etang.jpg";
import image6 from "../assets/img/musee.jpg";
import image7 from "../assets/img/buanderiebien.jpg";
import image8 from "../assets/img/chambre1930.jpg";
import image9 from "../assets/img/chambreoiseaux.jpg";
import image10 from "../assets/img/chambrevoyages.jpg";
import image11 from "../assets/img/mezzaninechambrevoyages.jpg";
import image12 from "../assets/img/mezzaninevoyages.jpg";
import image13 from "../assets/img/sdbbas.jpg";
import image14 from "../assets/img/coussinsvoyages.jpg";
import image15 from "../assets/img/ChPimprenelle.jpg";
import image16 from "../assets/img/ChezGermaine.jpg";
import image17 from "../assets/img/sallebainshaut.jpg";
import image18 from "../assets/img/salonentier.jpg";
import image19 from "../assets/img/salon2.jpg";
import image20 from "../assets/img/CuisineGenerale.jpg";
import image21 from "../assets/img/wc.jpg";
import image30 from "../assets/img/porte_entree.jpg"
import image22 from "../assets/img/tablext.jpg";
import image23 from "../assets/img/terassefleurs.jpg";
import image24 from "../assets/img/barbecue.jpg";
import image25 from "../assets/img/terassemaison.jpg";
import image26 from "../assets/img/balancoire.jpg";
import image27 from "../assets/img/vuelionel.jpg";
import image28 from "../assets/img/exterieurrepas.jpg";
import image29 from "../assets/img/portail.jpg";
import image31 from "../assets/img/hortensia.jpg";
import WhiteCard from "../components/WhiteCard.astro";
import Slider from "../components/Slider.astro";

const images = [
  {
    image: image1,
    alt: "Vue sur la maison et les feuillages",
  },
  {
    image: image2,
    alt: "Enseige de la Magdeleine sur la façade",
  },
  {
    image: image3,
    alt: "Vue sur la maison et la herse",
  },
  {
    image: image4,
    alt: "Façade nord de la maison",
  },
  {
    image: image5,
    alt: "Étang à proximité de la maison",
  },
  {
    image: image6,
    alt: "Des instruments du musée",
  },
  {
    image: image7,
    alt: "La pièce de la buanderie",
  },
  {
    image: image8,
    alt: "La chambre 1930",
  },
  {
    image: image9,
    alt: "La chambre Oiseaux",
  },
  {
    image: image10,
    alt: "La chambre Voyages",
  },
  {
    image: image11,
    alt: "La mezzanine de la chambre Voyages",
  },
  {
    image: image12,
    alt: "La chambre située sur la mezzanine de la chambre Voyages",
  },
  {
    image: image13,
    alt: "La salle de bain du bas",
  },
  {
    image: image14,
    alt: "Les coussins du lit de la chambre Voyages",
  },
  {
    image: image15,
    alt: "Les lits de la chambre Pimprenelle",
  },
  {
    image: image16,
    alt: "Les lits de la chambre Chez Germaine",
  },
  {
    image: image17,
    alt: "La salle de bain du haut",
  },
  {
    image: image18,
    alt: "Le salon de la maison",
  },
  {
    image: image19,
    alt: "Vue alternative du salon de la maison",
  },
  {
    image: image20,
    alt: "La cuisine de la maison",
  },
  {
    image: image21,
    alt: "Les toilettes",
  },
  {
	image: image30,
	alt: "La porte d'entrée",
  },
  {
    image: image22,
    alt: "Les deux tables à l'extérieur de la maison",
  },
  {
    image: image23,
    alt: "La terrasse avec les fleurs",
  },
  {
    image: image24,
    alt: "Vue sur le devant de la maison avec le barbecue",
  },
  {
    image: image25,
    alt: "Une deuxième vue de la terrasse qui donne sur la maison",
  },
  {
    image: image26,
    alt: "La balançoire dans le jardin",
  },
  {
    image: image27,
    alt: "Vue sur la colline et les vaches",
  },
  {
    image: image28,
    alt: "Espace repas exterieur",
  },
  {
    image: image29,
    alt: "Portail",
  },
  {
    image: image31,
    alt: "Hortensisas fleuris",
  },
];
---

<Layout title="Le Domaine de la Magdeleine - Accueil">
  <SEO
    slot="seo"
    description="Grand gîte en Bourgogne du Sud, au coeur du Charolais-Brionnais (71800), proche Charolles, Paray-le-monial, Cluny, Macon"
    openGraph={{
      basic: {
        title: "Grand Gîte Bourgogne du Sud - Domaine de la Magdeleine",
        type: "website",
        image: image1.src,
      },
    }}
  />
  <WhiteCard shouldDisableMobilePadding>
    <Slider
      sliderId="slider_homepage"
      isAutoplay
      images={images}
      includeDots
      includeThumbnails
      imageClass="h-96 md:h-[30rem] lg:h-[40rem]"
    />
    <section class="p-8">
      <h1 class="text-center text-xl text-menu">
        Bienvenue à <br /><span class="font-title text-7xl text-secondary"
          >Châtenay</span
        >
      </h1>
      <div class="w-64 my-4 h-px bg-black mx-auto"></div>
      <p class="text-center">
        Nichée au cœur d’un cadre bucolique, cette grande ferme en pierres de plus 
		de 250 m² vous accueille avec un aménagement soigné et un mobilier choisi 
		avec goût. Proposé en location dans son intégralité, le logement vous est 
		entièrement réservé : vous serez seuls au milieu de la nature, en pleine Bourgogne du Sud.
		Elle dispose d’un vaste terrain clos et d’une vue entièrement dégagée. 
		Amoureux de calme, de verdure et de balades à pied ou à vélo, vous y 
		trouverez un lieu idéal pour vous retrouver, vous ressourcer et partager 
		de beaux moments en famille ou entre amis.
      </p>
    </section>
  </WhiteCard>
</Layout>
