---
import { SEO } from "astro-seo";
import { Image } from "astro:assets";
import vueCour from "../assets/img/vuecour.jpg";
import cour_repas from "../assets/img/cour_repas2.jpg";
import Layout from "../layouts/Layout.astro";
import WhiteCard from "../components/WhiteCard.astro";
---

<Layout title="Le Domaine de la Magdeleine - Présentation">
  <SEO
    slot="seo"
    description=""
    openGraph={{
      basic: {
        title: "Domaine de la Magdeleine - Présentation",
        type: "website",
        image: cour_repas.src,
      },
    }}
  />
  <WhiteCard heading="Présentation du domaine de la Magdeleine">
    <div class="grid grid-cols-1 items-center lg:grid-cols-2 gap-6 my-4">
      <Image
        class="mx-auto"
        src={vueCour}
        title="Vue sur la cour"
        alt="Vue sur la cour"
        decoding="async"
        format="avif"
        widths={[400, 800]}
        sizes={`(max-width: 768px) 400px, 800px`}
      />
      <div>
        <p>
          <a
            target="_blank"
            class="text-blue-500 hover:text-blue-600 hover:underline"
            href="http://www.bourgogneromane.com/edifices/dun.htm"
            >La montagne de Dun</a
          >, ancienne citadelle du Moyen Age constitue un joli panorama depuis
          la maison. La campagne environnante est verdoyante. Avec son bocage,
          ses haies, ses murets en pierre et ses sentiers nombreux, les
          alentours de la Magdeleine sont une invitation à la ballade à pied ou
          en vélo.
        </p><br />
        <p>
          Le domaine de la Magdeleine se situe en <a
            target="_blank"
            class="text-blue-500 hover:text-blue-600 hover:underline"
            href="http://www.charolais-brionnais.fr/unesco.html"
            >Charolais Brionnais</a
          >, dans le petit village de Châtenay. Vous pourrez visiter châteaux,
          villages typiques, églises romanes (Bois sainte Marie, Anzy le Duc...
          , la Venise Charolaise...
        </p><br />
        <p>
          Nous mettons en location cette maison de famille depuis peu.
          Progressivement nous la transformons en ferme de vacances hors du
          temps tout en lui rendant son âme. Pour réunir votre tribu, pour vous
          retrouver entre amis, pour passer des moments uniques en pleine
          nature. Simplement pour vivre l'essentiel.
        </p>
      </div>
    </div>
  </WhiteCard>
  <WhiteCard heading="Informations pratiques">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-4">
      <Image
        class="mx-auto self-center"
        src={cour_repas}
        title="Vue sur le jardin"
        alt="Vue sur le jardin avec une table en premier plan"
        format="avif"
        decoding="async"
        loading="lazy"
        widths={[400, 800]}
        sizes={`(max-width: 768px) 400px, 800px`}
      />
      <div>
        <p>
          La maison peut loger jusqu'à 14 personnes. (idéalement 8 à 12
          personnes)<br /><br />
          <ul class="list-disc list-inside indent-8">
            <li class="leading-7">
              la <b>"chambre années folles "</b> avec 1 lit double avec couette (160x200)
              + 1 lit bébé/enfant jusqu'à 4 ans
            </li>
            <li class="leading-7">
              la <b>"chambre aux oiseaux"</b> avec un lit double avec couette (160x200
              ) + 1 lit simple 80x200
            </li>
            <li class="leading-7">
              la <b>"chambre pimprenelle"</b> avec 2 lits de 100x190
            </li>
            <li class="leading-7">
              <b>"Chez Germaine"</b> : chambre avec un lit 140x200
            </li>
            <li class="leading-7">
              la <b>"chambre voyages"</b> avec 2 lits avec couettes 80x200 ou bien
              160x200 et en <b>mezzanine</b> un lit avec couette de 140x190 et un
              lit 120x180
            </li>
            <li class="leading-7">
              les draps et les serviettes ne sont pas fournis, si vous souhaitez
              qu'on vous les fournisse c'est possible pour 12€ par personne
            </li>
            <li class="leading-7">2 salles de bains</li>
            <li class="leading-7">1 grande cour protégée</li>
            <li class="leading-7">1 grand espace pour barbecue</li>
          </ul>
        </p>
      </div>
    </div>
  </WhiteCard>
</Layout>
